body{
    font-family: 'segoe UI',Arial,sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(/images/ma\ photo\ 2.jpg);
    background-attachment: fixed;
}

.apropos-container{
    max-width: 800px;
    margin: 40px auto;
    background: lab(73.71% 4.99 1.79);
    border-radius: 50px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.06);
    padding: 32px;
    text-align: center;
}
.Apropos{
    display: flex;
    color: white;
    
}

 .Apropos ul{
    display: flex;
    gap: 45px;
    list-style: none;
    text-decoration: none;
    text-align: center;     
}
.nav-bar ul li a{
    text-decoration: none;
    color: rgb(199, 156, 156);
    text-align: center;
}

.apropos-image{
    width: 80px;
    max-width: 330;
    border-radius: 10px;
    margin: 24px 0;
    box-shadow: 0 2px 12px rgba(0,0,0,0.07);
}

h1{
    color: #102841;
    margin-bottom: 10px;
}

.apropos-info{
    margin-top: 30px;
    text-align: left;
}

.apropos-info h2{
    color: #162935;
    margin-bottom: 8px;
}

.apropos-info ul{
    list-style: disc inside;
    margin: 0;
    padding: 0 0 0 16px;
    color: #000000;
}

footer{
    margin-top: 40px;
    font-size: 0.95em;
    color:#070101;
}